menu "Hotplug drivers"

config MSM_HOTPLUG
	bool "MSM Hotplug"
	depends on ARCH_MSM
	default y
	help
	  The MSM hotplug driver controls on-/offlining of additional cores
	  based on current cpu load.

config ALUCARD_HOTPLUG
	bool "Alucard Hotplug"
	depends on ARCH_MSM
	default y
	help
	  Generic Alucard-Hotplug CPU hotplug driver for ARM SOCs.

config INTELLI_HOTPLUG
	bool "Intelli Hotplug"
	depends on ARCH_MSM
	default y
	help
	  Generic Intelli-Hotplug CPU hotplug driver for ARM SOCs.

endmenu
